* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 3px;
}

.display {
	padding: 10px;
	border: 1px solid black;
	border-radius: 3px;
	height: 50px;
}

.buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	width: 230px;
}


button {
	width: 50px;
	height: 50px;
	background-color: black;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: 900;
}

.clear-button {
	width: 110px;
}
