* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 3px;
}

.display {
	padding: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	width: 200px;
}

button {
	padding: 10px 15px;
}
